/* label color */
/* .input-field label {
     color: #000;
   } */
/* label focus color */
.input-field input[type="text"]:focus + label {
   color: #000;
}

/* label underline focus color */
.input-field input[type="text"]:focus {
   border-bottom: 1px solid #66bb6a;
   box-shadow: 0 1px 0 0 #1b5e20;
}

/* valid color */
.input-field input[type="text"].valid {
   border-bottom: 1px solid #66bb6a;
   box-shadow: 0 1px 0 0 #1b5e20;
}

/* invalid color */
.input-field input[type="text"].invalid {
   border-bottom: 1px solid #e53935;
   box-shadow: 0 1px 0 0 #b71c1c;
}

/* icon prefix focus color */
.input-field .prefix.active {
   color: #66bb6a;
}

.album-art {
   margin-bottom: 15px;
}

#prevNext {
   margin-top: 8px;
}
